###
### .gitconfig for spring-boot-command-line-launcher project.
###

# ================================================================================
# OS X
# ================================================================================

.Spotlight-V100/
.Trashes/
Temporary Items/

._*
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.apdisk


# ================================================================================
# Linux
# ================================================================================

*~
.directory


# ================================================================================
# Windows
# ================================================================================

$RECYCLE.BIN/

*.lnk
Desktop.ini
Thumbs.db
ehthumbs.db


# ================================================================================
# IntelliJ
# ================================================================================

.idea/

*.ipr
*.iws


# ================================================================================
# Gradle
# ================================================================================

.gradle/
build/
